body {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	background-color: #000;
	color: #ffffff;		
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 28px;
}

a:link {
	color: #ff0012;
	text-decoration: none;
}
a:hover {
	color: #5be300;
	text-decoration: underline;
}
a:visited {
	color: #0084b0;
}

.clrgls {
	position: fixed;
	top: -60px;
	left: 500px;
	z-index: -5;
}

#colourblindr-header {
	text-align: left;
  font-size: 56px;
  color: #ff0012;
}

.fof {
	text-align: left;
}

h1 {
  font-size: 24px;
  color: #ff7d00;
}
h2 {
	text-align: center;
  font-size: 18px;
  color: #ffd900;
}
h3 {
}

p { 
	height: 75%;
	width: 75%;
	margin-left: 20px;
	padding-left: 20px;
	text-align: center;
}

.app-desc {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	text-align: left;
}


.signinup {
text-align: left;
}

#sub {
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 25px;
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
 color: #fff;
 background: #000;
 border: solid #ff0012  2px;
 text-decoration: none;
 text-align: center;
 padding: 1em 1em;
}

#sub:hover {
 background: #5be300;
 text-decoration: none;
}

input {
	font size: 120%;
	color: 000;
	background-color: 000;
	border: 1px solid ff0012;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	background-repeat: no-repeat;;
	background-position: 8px 9px;
	display: block;
	margin-bottom: 10px;
}

input: focus, input: hover {
	background-color: #000;
	border: 1px solid ff0012;
}

fieldset {
	width: 300px;
	margin: 20px;
	border: 2px solid red;
	border-radius: 10px;
	padding: 20px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

legend {
	background-color: yellow;
	margin: 20px;
	border: 2px solid red;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: left;
	text-transform: uppercase;
}

#signin {
	text-align: left;
	color: #000;
}

#signup {
	text-align: left;
	color: #000;
}

#signinButton {
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 25px;
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
 color: #fff;
 background: #000;
 border: solid #ff0012  2px;
 text-decoration: none;
 text-align: center;
 padding: 1em 1em;
}

#signinButton:hover {
 background: #5be300;
 text-decoration: none;
}

#signupButton {
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 25px;
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
 color: #fff;
 background: #000;
 border: solid #ff0012  2px;
 text-decoration: none;
 text-align: center;
 padding: 1em 1em;
}

#signupButton:hover {
 background: #5be300;
 text-decoration: none;
}

.contact-info {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-align: left;
	}

#footer {
	text-align: center;
	color: ff7d00;
	position: fixed;
	bottom: 0px;
}



